<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<% post.comments.forEach(function(comment) { %>
  <div class="well">
    <h3><%= comment.name %></h3>
    <p><%= comment.content %></p>
  </div>
<% }) %>


<form action="/posts/<%= post.id %>/comments" method="POST">
  <input type="text" class="input" name="name" placeholder="Name">
  <input type="text" class="input" name="text" placeholder="Text">
  <input type="submit" class="btn btn-primary">
</form>

<br><a href="/">&larr; Back Home</a>
